.description-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 80px;

    @media screen and (max-width: 320px) {
        margin-top: 40px;
    }

    @media screen and (min-width: 1050px) {
        gap: 30px;
        align-items: flex-start;
}
    
    @media screen and (min-width: 1010px) {
        margin-top: 80px;
        gap: 30px;
        align-items: flex-start;
    }
    
    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 18px;

        @media screen and (min-width: 1050px) {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-direction: row;
                gap: 50px;
                align-items: center;
        }

        > button {
            text-decoration: underline;
            background-color: transparent;
            color: var(--color-white);
            font-size: var(--size-primary-variant);
            cursor: pointer;
            text-align: start;

            @media screen and (min-width: 1010px) {
                text-align: center;
            }

            &:hover {
                color: var(--color-shadowed);
            }
        }

        &__text {
            font-size: var(--size-primary);
        }
    }

    &__countries {
            display: flex;
            flex-direction: column;
            gap: 18px;
            margin-top: 40px;
            align-items: flex-start;

            @media screen and (min-width: 1050px) {
                display: flex;
                margin-top: 0;
                flex-direction: row;
                gap: 50px;
                align-items: center;
                justify-content: space-evenly;
            }
    
            > h3 {
                font-family: var(--font-subtitle);
                font-size: var(--size-primary);
                @media screen and (min-width: 750px) {
                    text-align: center;
                }
            }

            > p {
                background-color: transparent;
                color: var(--color-white);
                font-family: var(--font);
                font-size: var(--size-primary-variant);
                text-align: start;
                @media screen and (min-width: 750px) {
                    text-align: center;
                }
            }
    }


    &__slides {
        display: flex;
        align-items: center;
        overflow-x: auto;
        gap: 22px;
        margin-top: 59px;
        padding-left: 40px;
        padding-right: 20px;

        @media screen and (max-width: 420px) {
            padding-left: 15px;
            padding-right: 15px;
        }

        @media screen and (min-width: 850px) {
            justify-content: space-between;
            padding: 0 45px;
            margin-top: 70px;
        }
        @media screen and (min-width: 1250px) {
            padding: 0 80px;
            margin-top: 100px;
        }

        > img {
            width: 230px;
            border-radius: 7px;

            @media screen and (min-width: 1550px) {
                width: 300px;
            }
            @media screen and (min-width: 1950px) {
                width: 450px;
            }
        }
    }
}