@import "../assets/variables.scss";

.makeorder-container {
    margin-top: 35px;
    padding: 0 62px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 320px) {
        margin-top: 15px;
    }

    @media screen and (min-width: 850px) {
        align-items: center;
        justify-content: center;
        margin-top: 70px;
    }

    @media screen and (min-width: 1250px) {
        margin-top: 100px;
    }

    &__card-img {
        position: relative;
        width: fit-content;
        margin-bottom: 37px;
        width: 100%;

        @media screen and (min-width: 850px) {
            justify-self: flex-start;
            align-self: center;
            margin-bottom: 0;
        }

        @media screen and (min-width: 1210px) {
            width: 500px;
        }  

        @media screen and (min-width: 1850px) {
            width: 750px;
        }

        > img {
                width: 100%;
                @media screen and (min-width: 1210px) {
                    width: 500px;
                }  

                @media screen and (min-width: 1850px) {
                    width: 750px;
                }
        }  

        &::before {
            content: "";
            position: absolute;
            width: 110%;
            height: 110%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            background: #000E40;
            filter: blur(69.5px);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        @media screen and (min-width: 1010px) {
            flex-direction: row-reverse;
            gap: 30px;
        }
        @media screen and (min-width: 1210px) {
            flex-direction: row-reverse;
            gap: 60px;
        }

        &__text {
            font-size: var(--size-primary);
            margin-bottom: 55px;
            font-family: var(--font);

            @media screen and (max-width: 320px) {
                margin-bottom: 25px;
              }
        }

        &__interaction {
            display: flex;
            flex-direction: column;
            gap: 22px;
            width: 100%;
            align-items: center;

            @media screen and (min-width: 850px) {
                gap: 30px;
            }
            @media screen and (min-width: 1210px) {
                gap: 40px;
            }
            @media screen and (min-width: 1850px) {
                gap: 50px;
            }

            &__img {
                background: url("../assets/images/makeorder/Rectangle\ 1.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px 0;
                border-radius: 13px;
                height: fit-content;
                width: 100%;

                > button {
                    font-size: var(--size-primary);
                    background: transparent;
                    font-family: var(--font-subtitle);
                    color: white;
                    text-align: start;
                    padding: 30px 17px 30px 40px;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}